<div class="about">
  <h1>evan clough</h1>
  <h3>thinker + maker</h3>
  <ul class="social">
    <li class="social social-btn" id="instagram">
      <img src="" alt="Instagram" />
    </li>
    <li class="social social-btn" id="twitter">
      <img src="" alt="Twitter" />
    </li>
    <li class="social social-btn" id="linknedin">
      <img src="" alt="LinkedIn" />
    </li>
  </ul>
</div>

<div class="projects">
  <h2>sites + apps</h2>
  <h3 class="hover-show">web dev portfolio</h3>
</div>

<div class="photos">
  <h2>photos + stories</h2>
  <h3 class="hover-show">photojournalism feed</h3>
</div>
